.Square {
    border: 1px solid black;
    display: table-cell;
    width: auto;
    height: 50px;

    overflow: hidden;
    vertical-align: middle;
    text-align: center;
}

.Square:hover {
    cursor: pointer;
    background-color: yellow;
}

.Square.Score {
    background-color: darkgray;
    color: white;
}

.Square.SquareTaken {
    background-color: lightgray;
}

.Square.SquareTaken:hover {
    cursor: not-allowed;
}