.Team {
    background: #575757;
    color: white;
    text-transform: uppercase;
    text-overflow: ellipsis;
    padding: 1em;
    text-align: center;
    vertical-align: middle !important;
    letter-spacing: 5px;
}

.HomeTeam {
    width: 100%;
}

/**
* Works everywere ( IE7+, FF, Chrome, Safari, Opera )
* Example: http://jsbin.com/afAQAWA/2/
*/
.VisitingTeam {
    writing-mode: vertical-lr;
    text-orientation: upright;
    vertical-align: middle;
    white-space: nowrap;
    word-spacing: 1em;
    margin: auto;
}